* {
  margin:0;
  padding;0;
  box-sizing: border-box;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: 000;
}

.container{
  position:relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: linear-gradient(45deg, transparent, transparent 40%, #38b6ff);
  animation: GradientLoader 1s linear infinite;
}

@keyframes GradientLoader {
  0% {
    transform: rotate(0deg);
    filter: hue-rotate(0deg);
  }
  
  100%{
    transform: rotate(360deg);
    filter: hue-rotate(360deg);
  }
  

}
